{% extends "layout.html" %}

{% block content %}
    <main class="container signup-section">
        <div class="section-content">
            <h2>LogIn</h2>
            
            <form action="/LogIn" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{form.email.label}}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <p class="error-message">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    {{form.email}}
                </div>
                <div class="form-group">
                    {{form.passwd.label}}
                    {% if form.passwd.errors %}
                        {% for error in form.passwd.errors %}
                            <p class="error-message">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    {{form.passwd}}
                </div>
                {{form.submit(class="btn-primary")}}
            </form>
        </div>
    </main>
{% endblock %}